{% extends 'base.html' %}

{% block main %}

 
                            
<section data-section-id="1" data-component-id="16_03_awz" data-category="http-codes" class="py-5"><div class="container text-center">
    <h1 class="display-1" data-config-id="header">404</h1>
    <p class="lead" data-config-id="subheader">Page not found</p>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p data-config-id="description">Uh oh. The page you requested could not be found </p>
      </div>
    </div><a class="btn btn-primary" href="/" data-config-id="primary-action">Back to homepage</a>
  </div>
</section>

{% endblock %}

